.component-body-container {
    padding: 20px;
}

.custom-btn {
    padding: 10px;
    border: none;
    text-transform: uppercase;
    width: 80px;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
}

.add-btn {
    background: #7ab97a;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% auto;
    margin-bottom: 10px;
}

.heading-container {
    margin: 30px 0 30px 0;
    width: 100%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.15rem;
    word-wrap: break-word;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.name-heading, .phone-heading {
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
}
.del-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    width: 90px;
    text-transform: uppercase;
    background-color: rgb(221, 132, 132);
    border: none;
    font-family: 'Times New Roman', Times, serif;

}